# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
node_modules/
__pycache__/
.dynamodb/

# Serverless directories
.serverless

# ide directories
.vscode/
.idea/

.env
.DS_Store
